body {
  margin: 0;
}
/*style do titulo do elemento h1*/
h1 {
  margin: 0;
}

/*esse é o style do cabeçalho*/
header {
  background-color: rgb(81, 162, 233);
  display: flex;
  justify-content: space-between; /* so funciona com display flex*/
  padding: 10px;
}
#box-categorias button {
  background-color: rgb(0, 211, 105);
}
#box-ordenar button {
  background-color: rgb(115, 228, 40);
}

#box-categorias button,
#box-ordenar button {
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
}

#galeria-imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#galeria-imagens img {
  max-width: 100%;
  
}
